.layer-slider .ls-item {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.layer-slider .ls-layer {
	position: absolute !important;
	display: none;
	width: auto;
	height: auto;
	max-height: 100%;
}

.layer-slider .ls-layer img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}