main {
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.owl-theme .owl-controls{
  text-align: center;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div{
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-nav div:hover{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 1%;
  z-index: 1;
}
 
.owl-theme .owl-controls .owl-dot{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-dot span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);/*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}

.owl-theme .owl-controls .owl-dot.active span,
.owl-theme .owl-controls.clickable .owl-dot:hover span{
  filter: Alpha(Opacity=100);/*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-dot span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
  min-height: 150px;
  background: url(AjaxLoader.gif) no-repeat center center
}

.owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    //border-radius: 3px;
}

.owl-item > div{
  background : #42bdc2;
  text-align: center;
  //padding:50px 0px;
  //margin:3px;
  color: white;
  font-size:32px;
  border:1px white;
}

.wrapper-with-margin{
  margin:0px 50px;
}
 
.owl-theme .owl-controls .owl-nav div {
  position: absolute;
}

.owl-theme .owl-controls .owl-nav {
  display: block;
}

.owl-theme .owl-controls .owl-nav .owl-prev,
.owl-theme .owl-controls .owl-nav .owl-next {
  position: absolute;
  top: 45%;
  margin: 0px 15px;
  width: 32px;
  height: 32px;
  background-image: url("../img/icons/owl-arrows.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-color: transparent;
  padding: 0px;
}

.owl-theme .owl-controls .owl-nav .owl-prev:hover,
.owl-theme .owl-controls .owl-nav .owl-next:hover {
  opacity: 1;
}

.owl-theme .owl-controls .owl-nav .owl-prev {
  left: 0;
}
 
.owl-theme .owl-controls .owl-nav .owl-next {
  right: 0;
  background-position: -43px 0px;
}